html {
    overflow-y: hidden;
}

body {
    overflow-x: hidden;
}

.login-page-container {
    background-color: #36454f28;

    height: 100vh;
    width: 100vw;
}

.login-container {
    position: absolute;
    height: 35rem;
    width: 28rem;
    padding: 1rem 3rem;
    background-color: #36454F;
    border-radius: 0.5rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.login-form {
    position: absolute;
    width: calc(100% - 6rem);
    height: 70%;
    bottom: 1rem;
}

.login-form input {
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
    
}

.login-btn {
    position: absolute;
    display: inline;
    text-align: center;
    height: 2.5rem;
    border-radius: calc(2.5rem / 2);
    left: 50%;
    bottom: 2rem;
    transform: translate(-50%, -50%);
}

h2 {
    color: white;
    letter-spacing: 5px;
    text-align: center;
}

@media (max-width: 450px){
    .login-page-container {
        background-color: #d6d6d62a;
        height: 100vh;
        width: 100vh;
    }

    .login-container {
        width: 95%;
        height: 60%;
    }
}