.content-wrapper {
  height: calc(100vh - 3rem);
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;
}

.to-pay {
  background-color: #36454f;
  color: rgb(248, 248, 248);
  width: 27rem;
  height: 35rem;
  border-radius: 0.5rem;
  padding: 1rem;
  /* border: 1px solid #957fef; */
}

.today {
  width: 31rem;
  height: 39rem;
}

h3 {
  margin: 0;
  text-align: center;
}

.namelists {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1rem;
}

.namelists p {
  flex: calc(100% / 3);
  text-align: center;
}

@media (max-width: 1460px) {
  html {
    font-size: 15px;
  }
}

@media (max-width: 1310px) {
  .to-pay {
    width: 23rem;
    height: 31rem;
  }

  .today {
    width: 27rem;
    height: 35rem;
  }
}

@media (max-width: 1135px) {
  .to-pay {
    width: 20rem;
    height: 28rem;
  }

  .today {
    width: 24rem;
    height: 32rem;
  }
}

@media (max-width: 780px) {
  .content-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    justify-items: center;
    align-items: center;
    height: 100%;
    padding: 1rem;
  }

  .to-pay {
    width: 100%;
    margin-top: 1.5rem;
  }

  .today {
    order: -1;
    width: 100%;
  }
}
