.add-person {
  padding: 1rem;
  min-height: 18rem;
  width: 18rem;
  border-radius: 1rem;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #ffffffd3;
  transform: translate(-50%, -50%);
  z-index: 1001;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: black;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  z-index: 1000;
  transition: all 0.5s;
}

.input-payment {
  border: none;
  padding: 0 0.5rem;
  height: 1.8rem;
  margin: 0.5rem 0 0.3rem 0;
  width: 7.7rem;
  border-radius: 0.3rem;
}

.person-info {
  text-align: center;
}

.add-btn {
  cursor: pointer;
  background-color: #00000000;
  color: white;
  margin-top: 0;
  height: 23px;
  flex: calc(100% / 3);
}

.pink {
  background-color: #00bf63;
  color: white;
  cursor: pointer;
}

.hidden {
  display: none;
}

.btn-close {
  font-family: inherit;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 1.5%;
  right: 3%;
  font-size: 150%;
  cursor: pointer;
  border: none;
  background: none;
}

.input-date {
  margin-top: 1rem;
  padding: 0.3rem 0.3rem;
}

button {
  display: block;
  height: 2.2rem;
  width: 8rem;
  margin-top: 1rem;
  border-radius: calc(2.2rem / 2);
  background-color: white;
  border: none;
}

p {
  margin: 0;
  text-align: center;
}

@media (max-width: 1080px){
  .add-btn {
    width: auto;
  }
}